@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body,
  #root {
    min-height: 100%;
    background-color: #5e51b5;
  }

  body {
    margin: 0;
  }
}